<head>

</head>
<body>
    <h1>
        Businesses in the area:
    </h1>
    <ul>
        {% for biz in biz_data %}
            <li>
                <span>Name: {{ biz['name'] }}</span><br>
                <span>Rating: {{ biz['rating'] }}</span><br>
                <span>Address: {{ biz['formatted_address'] }} </span><br>
                <ul> <h3> Types: </h3>
                	{% for t in biz['types'] %}
                		<li>{{ t }}</li>
                	{% endfor %}
                </ul>
                <br><br><br>
            </li>
        {% endfor %}
    </ul>
    <h1>
    	Real Estate data:
    </h1>
    <h3>
    	Rent:
    </h3>
    <ul>
    	<li>
    		<span>High: {{ cost_data['rentRangeHigh'] }}</span><br>
    	</li>
    	<li>
    		<span>Average: {{ cost_data['rent'] }}</span><br>
    	</li>
    	<li>
    		<span>Low: {{ cost_data['rentRangeLow'] }}</span><br>
    	</li>
    </ul>
</body>