<head>

</head>
<body>
    <h1>
        {{ biz.capitalize()+" report within "+rad }} miles of {{ place }}
    </h1>
    <h2>
        Businesses in the area:
    </h2>
    <ul>
        {% for biz in biz_data %}
            <li>
                <h3>Name: {{ biz['name'] }}</h3><br>
                <span>Rating: {{ biz['rating'] }}</span><br>
                <span>Address: {{ biz['formatted_address'] }} </span><br>
                <ul> <h4> Types: </h4>
                	{% for t in biz['types'] %}
                		<li>{{ t }}</li>
                	{% endfor %}
                </ul>
                <br><br><br>
            </li>
        {% endfor %}
    </ul>

    <h1>
        Traffic:
    </h1>
    <span>{{ traffic['logo_url'] }}</span><br><!--use this as an image url-->
    <span>{{ traffic['more_info_icon'] }}</span><br><!--use this as an image url-->
    <span>Description: {{ traffic['description'] }}</span><br>
    <span>Walk Score: {{ traffic['walkscore'] }}</span><br>
    <span>Transit Score: {{ traffic['transit']['score'] }}</span><br>
    <span>Bike Score: {{ traffic['bike']['score'] }}</span><br>
    <span>More info: {{ traffic['help_link'] }}</span><br>

    <h1>
    	Real Estate data:
    </h1>
    <h2>
    	Rent:
    </h2>
    <ul>
    	<li>
    		<span>High: {{ cost_data['rentRangeHigh'] }}</span><br>
    	</li>
    	<li>
    		<span>Average: {{ cost_data['rent'] }}</span><br>
    	</li>
    	<li>
    		<span>Low: {{ cost_data['rentRangeLow'] }}</span><br>
    	</li>
    </ul>

    <h1>
        Air Quality:
    </h1>
    <span>Data available: {{ air_qual['data_available'] }}</span>
    <ul>
        {% for a, q in air_qual['indexes'].items() %}
            <li>
                <h2>
                    {{ q['display_name'] }}
                </h2>
                <span>AQI: {{ q['aqi_display'] }}</span><br>
                <span>{{ q['color'] }}</span><br>
                <span>Category: {{ q['category'] }}</span><br>
                <span>Dominant pollutant: {{ q['dominant_pollutant'] }}</span><br>
                <br><br><br>
            </li>
        {% endfor %}
    </ul>
</body>