.bike-score-image {
  background: url('/static/img/map/bike_score.png');
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transit-score-image {
  background-image: url('/static/img/map/transit_score.png');
  height: 128px;
  width: 128px;
}

.walk-score-image {
  background-image: url('/static/img/map/walk_score.png');
  height: 128px;
  width: 128px;
}
